<ion-view view-title="Drive">
  <div class="bar bar-header bar-positive">
    <a class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="welcome">Back</a>
    <h1 class="title">Drive</h1>
  </div>
  <div class="bar bar-subheader">
      <h2 class="title">Hello, {{userName}}</h2><br>
      <div style="text-align:right;">{{files.length}} items</div>
    </div>
  <ion-content class="has-subheader">
    <ion-list>
      <div ng-repeat="file in files">
        <ion-item class="item item-icon-right">
          {{file.name}}
        </ion-item>
      </div>
    </ion-list>
    <ion-infinite-scroll distance="2%"
    on-infinite="readFiles()"
    ng-if="!moredata"
    ></ion-infinite-scroll>
  </ion-content>
</ion-view>